<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
    <form action="answer" data-turbo="false" class="rounded-0 d-flex">
      <input type="text" name="question" class="rounded-start border border-secondary border-end-0">
      <input type="submit" value="Ask!" class="btn btn-primary rounded-end rounded-0 d-flex">
    </form>
</div>